flask==2.0.3
py2neo==2021.2.4
pandas==1.5.3
numpy==1.23.5
geopy==2.3.0
python-dotenv==0.21.0
jieba==0.42.1
wordcloud==1.8.2.2
openpyxl==3.0.10
werkzeug==2.0.1
requests==2.31.0
pillow==10.1.0
snownlp==0.12.3
python-dotenv==1.0.0




